.fill-manager {
    position: relative;
}

.loading-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.file-edit-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 5;
}

::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 5px #bebebe;
    background: #bebebe;
    transition: all 0.2s;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 5px #aaaaaa;
    background: #888;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #e0e0e0;
    background: #e0e0e0;
    opacity: 1;
}